<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 0;
            padding: 0;
        }

        h1, h2 {
            margin-top: 20px;
        }


    </style>
</head>
<body>
    <h1>Bienvenido a nuestra página</h1>
    <h2>Esta es la página de inicio</h2>
    <img src="https://i.pinimg.com/736x/43/5d/c9/435dc9dfcab19af6a0a0d77f582cf06a.jpg" alt="Image 3">
</body>
</html>
